<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	    http://www.springframework.org/schema/beans/spring-beans.xsd         
	    http://code.alibabatech.com/schema/dubbo         
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<!-- init-method="init" -->
	
	<bean id="futuresLoadCacheService"
		class="data.loadcache.FuturesLoadCacheService">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	<bean id="futuresParaService"
		class="project.futures.internal.FuturesParaServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>

	<bean id="futuresOrderService"
		class="project.futures.internal.FuturesOrderServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="walletService" ref="walletService" />
		<property name="userDataService" ref="userDataService" />
		<property name="itemService" ref="itemService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="futuresParaService" ref="futuresParaService" />
		<property name="partyService" ref="partyService" />
		<property name="dataService" ref="dataService" />
		<property name="profitAndLossConfigService" ref="profitAndLossConfigService" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	<bean id="profitAndLossConfigService"
		class="project.futures.internal.ProfitAndLossConfigServiceImpl" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>

	<bean id="futuresOrderCalculationService"
		class="project.futures.job.FuturesOrderCalculationServiceImpl">
		<property name="futuresOrderService"
			ref="futuresOrderService" />
	</bean>

	<bean id="futuresOrderCalculationJob"
	class="project.futures.job.FuturesOrderCalculationJob">
		<property name="futuresOrderService"
			ref="futuresOrderService" />
		<property name="futuresOrderCalculationService"
			ref="futuresOrderCalculationService" />
	</bean>
	
	
	
</beans>
