<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	    http://www.springframework.org/schema/beans/spring-beans.xsd         
	    http://code.alibabatech.com/schema/dubbo         
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">


	<bean id="minerService"
		class="project.miner.internal.MinerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	
	 <bean id="minerOrderService"
		class="project.miner.internal.MinerOrderServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="minerService" ref="minerService" />
		<property name="pagedDao" ref="pagedDao" />
		<property name="userDataService" ref="userDataService" />
		<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="sysparaService" ref="sysparaService" />
		<property name="partyService" ref="partyService" />
		<property name="logService" ref="logService" />
		<property name="secUserService" ref="secUserService" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	<bean id="adminMinerService"
		class="project.miner.internal.AdminMinerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>
	
	
		<bean id="adminMinerOrderService"
		class="project.miner.internal.AdminMinerOrderServiceImpl" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="minerOrderService" ref="minerOrderService" />
		<property name="minerService" ref="minerService" />
		<property name="partyService" ref="partyService" />
		
	</bean>

		

	

	
</beans>