<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	    http://www.springframework.org/schema/beans/spring-beans.xsd         
	    http://code.alibabatech.com/schema/dubbo         
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
	

<bean id="cmsService"
	class="project.cms.internal.CmsServiceImpl" >
	<property name="hibernateTemplate" ref="hibernateTemplate" />
	<property name="redisHandler" ref="redisHandler" />
</bean>


<dubbo:reference id="bannerService"
		interface="project.cms.BannerService" check="false"  retries="3"  timeout="20000" />


</beans>
