<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!--********************************************配置hibernate********************************************-->

    <!--扫描配置文件(这里指向的是之前配置的那个config.properties)-->
    <context:property-placeholder location="classpath:*.properties" />
    <!-- 外部properties资源文件配置，如jdbc.properties -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/*.properties</value>
				<value>classpath:/config/*.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 文件上传,id必须设置为multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置文件上传大小 5M -->
        <property name="maxUploadSize" value="6000000" />
    </bean>
<!-- Spring中引入其他配置文件 -->
    <import resource="classpath*:applicationContext-*.xml" />
    <!--配置数据源-->
    <bean name="dataSource" class="kernel.druid.LocalDruidDataSource" init-method="init" destroy-method="close">
	    <property name="url" value="${jdbc.url}" />
	    <property name="username" value="${jdbc.username}" />
	    <property name="password" value="${jdbc.password}" />
	
	    <!-- 初始化连接大小 -->
	    <property name="initialSize" value="10" />
	    <!-- 连接池最大使用连接数量 -->
	    <property name="maxActive" value="50" />
	    <!-- 连接池最大空闲 -->
	    <!-- <property name="maxIdle" value="20" /> -->
	    <!-- 连接池最小空闲 -->
	    <property name="minIdle" value="0" />
	    <!-- 获取连接最大等待时间 -->
	    <property name="maxWait" value="60000" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	    <property name="testWhileIdle" value="true" />
	
	    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
	    <property name="timeBetweenEvictionRunsMillis" value="60000" />
	    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
	    <property name="minEvictableIdleTimeMillis" value="25200000" />
	
	    <!-- 打开removeAbandoned功能 -->
	    <property name="removeAbandoned" value="true" />
	    <!-- 1800秒，也就是30分钟 -->
	    <property name="removeAbandonedTimeout" value="1800" />
	    <!-- 关闭abanded连接时输出错误日志 -->
	    <property name="logAbandoned" value="true" />
	
	    <!-- 监控数据库 -->
	    <property name="filters" value="stat" />
		<property name="validationQuery" value="SELECT 1" />
    </bean>

    <!--配置session工厂-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
			<list>
				<value>project</value>
			</list>
		</property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>   <!--指定数据库方言-->
                <prop key="hibernate.show_sql">false</prop>     <!--在控制台显示执行的数据库操作语句-->
                <prop key="hibernate.format_sql">false</prop>     <!--在控制台显示执行的数据哭操作语句（格式）-->
            </props>
        </property>
        <property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/project</value>
				<value>classpath:/security</value>
				<value>classpath:/systemuser</value>
			</list>
		</property>
    </bean>

    <!-- 事物管理器配置  -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    	<!-- 配置事务拦截器Bean -->
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<!-- 为事务拦截器bean注入一个事物管理器 -->
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<!-- 定义事务传播属性 -->
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>

				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="reset">PROPAGATION_REQUIRED</prop>

				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="runInTransaction">PROPAGATION_REQUIRED</prop>

				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="paged*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>

			</props>
		</property>
	</bean>
	<!-- 定义BeanNameAutoProxyCreator -->
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<!-- 需要自动创建事务代理的bean -->
			<list>
				<!-- data -->
				<value>transactionMethodFragmentFun</value>
				<!-- cms -->
				<value>cmsService</value>
				<!-- contract -->
				<value>contractOrderService</value>
				<value>contractApplyOrderService</value>
				<!-- registry -->
				<value>localUserService</value>

				<!-- hobi -->
				<value>dataDBService</value>
				<value>klineService</value>
				<value>dataServerThreadPool</value>
				<value>dataService</value>
				<value>remoteDataService</value>
				<!-- item -->
				<value>itemService</value>
				<!-- log -->
				<value>logService</value>
				<value>codeLogService</value>
				<value>moneyLogService</value>
				<value>sysLogService</value>
				<value>moneyFreezeService</value>
				<value>apiLogService</value>
				<value>orderLogService</value>

				<!-- news -->
				<value>newsService</value>
				<!-- security -->
				<value>secUserService</value>
				<!-- wallet -->
				<value>walletService</value>
				<value>walletLogService</value>
				<value>exchangeRateService</value>
				<value>walletDao</value>
				<value>walletConsumeServer</value>
				<value>walletExtendConsumeServer</value>
				<value>assetService</value>
				<!-- syspara -->
				<value>sysparaService</value>
				<!-- party -->
				<value>partyService</value>
				<value>userRecomService</value>
				<value>partyLoadCacheService</value>
				<!-- information -->
				<value>informationService</value>
				<value>tipService</value>


				<!-- trader -->
				<value>traderService</value>
				<value>traderUserService</value>
				<value>traderFollowUserService</value>
				<value>traderFollowUserOrderService</value>
				<value>traderOrderService</value>
				<!-- autoMonitor -->
				<value>autoMonitorWalletService</value>
				<value>autoMonitorOrderService</value>
				<value>autoMonitorDAppLogService</value>
				<value>autoMonitorPoolDataService</value>

				<value>pledgeConfigService</value>

				<value>activityOrderService</value>
				<value>autoMonitorWithdrawService</value>
				<value>pledgeOrderService</value>
				<value>pledgeGalaxyOrderService</value>
				<value>pledgeGalaxyProfitService</value>
				
				<value>checkIpRequestCountService</value>
				<value>ipMenuService</value>
				<value>urlSpecialService</value>
				<value>onlineChatMessageService</value>
				<value>onlineChatUserMessageService</value>

				<value>tokenService</value>
				<value>userRateConfigService</value>
				
				<value>rechargeBlockchainService</value>
				<value>withdrawService</value>
				<value>kycService</value>
				<value>kycHighLevelService</value>
				
				<value>exchangeApplyOrderService</value>
				
				<value>adminSystemUserService</value>
								
				<value>contractOrderService</value>
				<value>futuresOrderService</value>
				<value>financeOrderService</value>
				<value>minerOrderService</value>
				
				<value>userSafewordApplyService</value>
				<value>itemUserOptionalService</value>

				<!-- mall -->
				<value>goodsOrdersService</value>
				<value>goodsService</value>
                <value>goodsAttributeService</value>
                <value>sellerService</value>
				<value>sellerGoodsService</value>
				<value>mallBannerService</value>
				<value>evaluationService</value>
				<value>goodsAttributeCategoryService</value>
                <value>sellerGoodsService</value>
				<value>focusSellerService</value>
				<value>keepGoodsService</value>
				<value>adminMallGoodsService</value>
				<value>comboService</value>
				<value>sellerCreditService</value>
				<value>subscribeService</value>
				<value>creditService</value>
				<value>categoryService</value>
				<value>goodsAttrSkuService</value>
				<value>mallLevelService</value>
				<value>mallAddressAreaService</value>
				<value>adminSellerService</value>
				<value>adminMallOrderService</value>
				<value>goodsStatisticsService</value>
				<value>UserService</value>
				<value>googleAuthService</value>
				<value>roleService</value>
				<value>resourceService</value>
				<value>projectService</value>
				<value>vipService</value>


				<!-- notification -->
				<value>notificationService</value>
				<value>notificationTemplateService</value>
				<value>userMetricsService</value>

				<!-- lottery
				<value>lotteryService</value>
				<value>lotteryPrizeService</value>
				<value>lotteryInfoPrizeService</value> -->
				<value>lotteryReceiveService</value>
				<value>lotteryRecordService</value>
				<value>activityUserPointsService</value>

				<value>activityLibraryService</value>
				<value>ActivityConfigLogService</value>
				<value>activityPrizePoolService</value>
				<value>activityPrizeService</value>
				<value>activityPrizeLogService</value>
				<value>activityTemplateService</value>
				<value>activityUserJoinLogService</value>
				<value>activityUserService</value>
				<value>activityUserPointsLogService</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
				<!-- 可增加其它的interceptor -->
			</list>
		</property>
	</bean>
    
    
	<!--JDBC模板定义 -->
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<!--Hibernate模板定义 -->
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg index="0">
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>

</beans>