<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<bean id="goodsAttributeCategoryService" class="project.mall.goods.impl.GoodsAttributeCategoryServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

	<bean id="goodsAttributeService" class="project.mall.goods.impl.GoodsAttributeServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>


	<bean id="goodsAttributeValueService" class="project.mall.goods.impl.GoodsAttributeValueServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

</beans>
