<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://code.alibabatech.com/schema/dubbo
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<bean id="adminMallBannerService"
		  class="project.mall.banner.impl.AdminMallBannerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>

	<bean id="adminCategoryService"
		  class="project.mall.type.impl.AdminCategoryServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="categoryLangService"
		  class="project.mall.type.impl.CategoryLangServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="adminComboService"
		  class="project.mall.combo.impl.AdminComboServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	<bean id="adminSubscribeService"
		  class="project.mall.subscribe.impl.AdminSubscribeServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>
	<bean id="adminMallGoodsService"
		  class="project.mall.goods.impl.AdminMallGoodsServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="goodsAttributeService" ref="goodsAttributeService" />
		<property name="sellerGoodsService" ref="sellerGoodsService"/>
		<property name="categoryLangService" ref="categoryLangService"/>
		<property name="userRecomService" ref="userRecomService" />
	</bean>
	<bean id="goodsAttributeCategoryService"
		  class="project.mall.goods.impl.GoodsAttributeCategoryServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="goodsAttributeService"
		  class="project.mall.goods.impl.GoodsAttributeServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="adminSystemCommentService"
		  class="project.mall.comment.impl.AdminSystemCommentServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>

	<bean id="adminMallOrderService"
		  class="project.mall.orders.impl.AdminMallOrderServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="userDataService" ref="userDataService" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="secUserService" ref="secUserService" />
		<property name="partyService" ref="partyService" />
		<property name="logService" ref="logService" />
		<property name="orderLogService" ref="orderLogService" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="adminSellerService" ref="adminSellerService" />
		<property name="sysParaService" ref="sysparaService"/>
	</bean>

	<bean id="goodsSkuAtrributionService"
		  class="project.mall.goods.internal.GoodsSkuAtrributionServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="adminSellerService"
		  class="project.mall.seller.impl.AdminSellerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="secUserService" ref="secUserService" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
		<property name="kycService" ref="kycService"/>
		<property name="mallLevelService" ref="mallLevelService"/>
		<property name="sellerService" ref="sellerService"/>
		<property name="userMetricsService" ref="userMetricsService"/>
		<property name="logService" ref="logService" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="tipService" ref="tipService" />
	</bean>
	<bean id="adminMallLoanConfigService"
		  class="project.mall.loan.impl.AdminMallLoanConfigServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="focusSellerService" class="project.mall.seller.impl.FocusSellerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="adminMallCountryService"
		  class="project.mall.area.impl.AdminMallCountryServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>
	<bean id="adminMallStateService"
		  class="project.mall.area.impl.AdminMallStateServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>
	<bean id="adminMallCityService"
		  class="project.mall.area.impl.AdminMallCityServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
	</bean>
	<!--	<bean id="sellerGoodsService" class="project.mall.goods.impl.SellerGoodsServiceImpl">-->
	<!--		<property name="hibernateTemplate" ref="hibernateTemplate" />-->
	<!--		<property name="jdbcTemplate" ref="jdbcTemplate" />-->
	<!--		<property name="redisHandler" ref="redisHandler" />-->
	<!--	</bean>-->
	<bean id="evaluationService" class="project.mall.evaluation.impl.EvaluationServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="partyService" ref="partyService" />
		<property name="goodsOrdersService" ref="goodsOrdersService" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean id="comboService" class="project.mall.combo.impl.ComboServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="walletService" ref="walletService"/>
		<property name="moneyLogService" ref="moneyLogService"/>
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	<bean id="mallAddressAreaService" class="project.mall.area.impl.MallAddressAreaServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

	<bean id="goodsOrdersService" class="project.mall.orders.internal.GoodsOrdersServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="walletService" ref="walletService"/>
		<property name="moneyLogService" ref="moneyLogService"/>
		<property name="partyService" ref="partyService"/>
		<property name="userDataService" ref="userDataService" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="sysparaService" ref="sysparaService"/>
		<property name="adminSellerService" ref="adminSellerService" />
		<property name="orderLogService" ref="orderLogService" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="sellerGoodsService" ref="sellerGoodsService" />
		<property name="comboService" ref="comboService" />
		<property name="evaluationService" ref="evaluationService" />
		<property name="commonNotifyService" ref="commonNotifyService"/>
		<property name="notificationHelperClient" ref="notificationHelperClient"/>
		<property name="mallAddressAreaService" ref="mallAddressAreaService"/>
		<property name="goodsSkuAtrributionService" ref="goodsSkuAtrributionService"/>
        <property name="mallLevelService" ref="mallLevelService" />
	</bean>

	<dubbo:reference id="commonNotifyService"
					 interface="project.mall.notification.utils.notify.client.CommonNotifyService" check="false" retries="0" timeout="3000"/>
	<dubbo:reference id="notificationHelperClient"
					 interface="project.mall.notification.utils.notify.client.NotificationHelperClient" check="false" retries="0" timeout="3000"/>

	<bean id="sellerService" class="project.mall.seller.impl.SellerServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="partyService" ref="partyService" />
		<property name="tipService" ref="tipService" />
	</bean>
	<bean id="sellerCreditService"
		  class="project.mall.seller.impl.SellerCreditServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="sellerService" ref="sellerService" />
	</bean>
	<bean id="moneyFreezeService" class="project.log.internal.MoneyFreezeServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedDao" ref="pagedDao" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="sellerService" ref="sellerService" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	<bean id="creditService" class="project.mall.credit.impl.CreditServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="partyService" ref="partyService" />
		<property name="walletService" ref="walletService" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="secUserService" ref="secUserService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="tipService" ref="tipService" />
	</bean>

	<bean id="categoryService" class="project.mall.type.impl.CategoryServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>

	<bean id="modifyCategoryStatusEventListener" class="project.mall.event.ModifyCategoryStatusEventListener">
		<property name="categoryService" ref="categoryService" />
	</bean>

	<bean id="mallLevelService" class="project.mall.seller.impl.MallLevelServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="fundChangeService" class="project.blockchain.internal.FundChangeService">
		<property name="walletService" ref="walletService" />
		<property name="walletLogService" ref="walletLogService" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="sellerService" ref="sellerService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="partyService" ref="partyService" />
	</bean>

	<bean id="rechargeSuccessEventListener" class="project.blockchain.event.RechargeSuccessEventListener">
		<property name="rechargeBlockchainService" ref="rechargeBlockchainService" />
		<property name="userMetricsService" ref="userMetricsService" />
		<property name="walletLogService" ref="walletLogService" />
	</bean>

	<bean id="upgradeSellerLevelByRechargeEventListener" class="project.blockchain.event.UpgradeSellerLevelByRechargeEventListener">
		<property name="walletLogService" ref="walletLogService" />
		<property name="sellerService" ref="sellerService" />
		<property name="partyService" ref="partyService" />
		<property name="userRecomService" ref="userRecomService" />
		<property name="mallLevelService" ref="mallLevelService" />
		<property name="sysparaService" ref="sysparaService" />
		<property name="fundChangeService" ref="fundChangeService" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>

	<bean id="goFunExecuteResultEventListener" class="util.cache.GoFunExecuteResultEventListener">
	</bean>

</beans>
