<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	    http://www.springframework.org/schema/beans/spring-beans.xsd         
	    http://code.alibabatech.com/schema/dubbo         
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
	    
	<bean id="walletService" class="project.wallet.internal.WalletServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="dataService" ref="dataService" />
		<property name="partyService" ref="partyService" />
		<property name="sysparaService" ref="sysparaService" />
		<property name="userDataService" ref="userDataService" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="walletLogService" class="project.wallet.internal.WalletLogServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="redisHandler" ref="redisHandler" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	
	<bean id="exchangeRateService" class="project.wallet.rate.internal.ExchangeRateServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="pagedQueryDao" ref="pagedDao" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	<dubbo:reference id="assetService"
		interface="project.wallet.AssetService" check="false" retries="0"  timeout="3000"/>
		
</beans>
