<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	    http://www.springframework.org/schema/beans/spring-beans.xsd         
	    http://code.alibabatech.com/schema/dubbo         
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<!-- init-method="init" -->
	
	<bean id="financeService"
		class="project.finance.internal.FinanceServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	<bean id="financeOrderService"
		class="project.finance.internal.FinanceOrderServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="walletService" ref="walletService" />
		<property name="moneyLogService" ref="moneyLogService" />
		<property name="financeService" ref="financeService" />
		<property name="pagedDao" ref="pagedDao" />
		<property name="userDataService" ref="userDataService" />
		<property name="partyService" ref="partyService" />
		
	</bean>
	
	<bean id="financeLoadCacheService"
		class="data.loadcache.FinanceLoadCacheService">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="redisHandler" ref="redisHandler" />
	</bean>
	
	
	
	<bean id="financeOrder1DayJob" class="project.finance.job.FinanceOrder1DayJob">
		<property name="financeOrderService" ref="financeOrderService" />
	</bean>
	
	
	
</beans>
